# dependencies
node_modules

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Log files
*.log

## Playwright
**/screenshots
**/test-results
**/playwright-report


.github/agents/
.github/workflows/copilot-setup-steps.yml
.nvmrc
.vscode/mcp.json
.vscode/settings.json